/* - - - - - - header begins - - - - - - */
header {
  ul{
    list-style:none;
    margin:0;
    padding:0;
  }
  a{
    text-decoration:none;
  }
  input[type="text"],input[type="password"]{width:100px;} //deal with later
  .nav2ad{max-width:140px;max-height:43px;position:relative;top:-10px;float:right;}//advert deal with later

}

.inner{max-width:1140px; margin:0 auto;position:relative;@extend %clearfix;} // may be able to replace this with grid class... see at the end.
//yellow bar nav
.bar1{
  background:$yellow;
  position:relative;
  line-height:1.5;
  p.support{
    color:$dark-grey;
    float:left;
    margin-bottom:0;

  }
  .level2 {
    z-index:4;
    display:none;
    position:relative;
  }
}

.nav1 {
  float:right;
  li {
    display:inline;
    float:left;
    position:relative;
    cursor:default;
    &:hover .level2{display:block;
    background:#fff;
    position:absolute;
    top:1;right:0;padding:1.785714285714286em;border-top:5px solid #3399CC;width:325px;
-webkit-box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.3);
color:#FFFFFF;}
  }
  &>li:hover{
    background:$blue-link;
    &>span:first-child{
      border-right:1px solid $mid-grey;color:#fff;}
  }
  &>li>span:first-child{
    color:$dark-grey;
    padding: 0 1rem;
    border-right:1px solid $light-grey;
  }
  &>li:last-of-type>span{
    border-right: none;
  }
  &>li:last-of-type:hover>span{
    border-right: none;
  }
//hover dropdowns
  .level2 li {
    display:block;
    width:100%;
    a {
      vertical-align:middle;
      display:block;
      line-height:2rem;
    }

  }
}

//yellow bar nav icons
.search>span:before,.contact>span:before,.account>span:before,.myaccount>span:before {
  font-family:"icons";
  font-size:1.46666666666667rem;
  line-height:0;
  padding-right:5px;
  position:relative;
  bottom:-4px;
}
.search>span:before{content: "\e613";}
.contact>span:before {content: "\e614";}
.account>span:before,.myaccount>span:before {content: "\e615";
font-size:1.28571428571429rem;
bottom:-3px;
}


//white main nav bar 
.bar2 {
  padding-top:.75rem;
  position:relative;
  .level2 {
    z-index:2;
    display:none;
    position:relative;
  }

  h1 {//logo
    margin:0 2.5rem 0 0;
    float:left;
    line-height:3.8rem;
  }


}

.nav2 {
  padding-top:17px;
  float:left;
  font-size:0;
  li {
    display:inline-block;
    position:relative;
    text-transform:uppercase;
    font-size:.8125rem;
    line-height: 1;
   
    &:hover{
      background:$blue-link;
    }
    span {
      color:$dark-grey;
      padding: .9375rem;
      display:block;

    }
  &:hover span {
    color:#fff;
    }
  }

  li:hover div>.level2 {
    display:block;
    background:#fff;
    position:absolute;
     top:43px;
     border-top:5px solid #3399CC;
     width:30rem;
     overflow:hidden;
     padding:1rem 0;
-webkit-box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.3);
}

  .one-half li {
    width:50%;
    float:left;
    overflow:hidden;
    display:block;
    padding: .75rem 1.25rem;
    text-transform:none;
    font-size:.9375rem;
    span.navtagline{
      font-size:.8125rem;
      color:$mid-grey;
      padding:.75rem 0 0;
    }
    &:hover{
      background:none;
    }
  }
}


/* - - - - - - header  ends - - - - - - */

