/* ==========================================================================
   buttons
   ========================================================================== */

%btn{
	color:#000 !important;
	padding: .3125rem .625rem !important; //5px //10px
	text-decoration: none !important;
	display: block !important;
	text-transform: uppercase;
	font-size: .9375rem !important; //15px
	background:$yellow;	
	&:hover{
		background-color:#ffeb90;
	}	
}

button{
	@extend %btn;
	border:1px solid #000 !important;
	text-align:left;
	display: inline-block !important;
	&:focus {
		outline: 0;
	}
	&:after {
		font-family:icons;
		content: "\e609";
		margin: 0 0 0 1rem !important;	
	}
}

.cta{
	@extend %btn;
	text-align:center;
	@include breakpoint(medium) {
		text-align:left;
		display: inline-block !important;
		&:after {
			font-family:icons;
			content: "\e609";
			margin: 0 0 0 1rem !important;	
		}
	}
}

