
#full-header {
	border-top: 3px solid $yellow;
	padding-top: 4rem;
	background: #fff url('../images/website-packages/hero.jpg') no-repeat center;
	background-size: cover;
	height:250px;
	background-color:$bg-grey;
	border-bottom:1px solid #ccc;
	text-align:center;
	@include breakpoint(medium) {
		border-top:0;
		background-position: center bottom;
		height:400px;
		}

h1 {
		color:#fff;
		line-height:1.1;
		@include breakpoint(small) {
		}
	}	

	p {
		display: none;
		@include breakpoint(medium) {
			display:block;
			color:#fff;
			&.h2{
				color:$yellow;
			}
		}

}
}
