.half-testimonial {
	background: $bg-grey url('../images/suzi.jpeg') no-repeat center;
	height:375px;
	position: relative;
	margin-bottom:$smallpad;
	margin-left:-1.25rem;
	margin-right:-1.25rem;
	@include breakpoint(medium) {
		margin-bottom:0;
		margin-left:0;
		margin-right:0;
	}
	div {
		background-color:$blue-link;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		padding: $smallpad;
		@include breakpoint(medium) {
			background-color:transparent;
		}
		p{
			color:#fff;
			margin-bottom:.75rem;
		}
		a {
		color:#fff !important;
		}
	}
}

.full-testimonial {
	background: #fff url('../images/website-packages/suzi-full.jpg') no-repeat 30% -20%;
	height:500px;
	position: relative;
	@include breakpoint(medium) {
		background-position: center;
		height:350px;
	}
	.ft-words {
		background-color:$blue-link;
		position:absolute;
		bottom:0;
		left:0;
		padding: $smallpad;
		p{
			color:#fff;
		}
	@include breakpoint(medium) {
		position:relative;
		background-color:transparent;
		margin: 1rem 0 0 40%;
		}
	@include breakpoint(large) {
		margin: 2rem 0 0 40%;
		}
	}
	



}