// COLOURS

//logo
$yellow: #fed900;

//primary
$pri-yellow: #fcca00;
$pri-blue: #0293cc;
$pri-green: #3fbd32;

//secondary
$sec-orange: #ff8b00;
$sec-blue: #0064bf;
$sec-red: #c91414; //only use for warnings, missing information, closed business etc.
$sec-purple: #660099;
$sec-green: #088781;


//grey - for text, strokes around shapes and faint backgrounds.
$dark-grey: #333; // h1 - h5 title colour , body link hover colour
$mid-grey: #666; // p colour 
$light-grey: #999;
$bg-grey:#f9f9f9;

$blue-link:#3399cc; // body link colour
