#home-hero {
	//border-top: 3px solid $yellow;
	padding-top: 1rem;
	background: #fff url('../images/home-hero.jpg') no-repeat 35% bottom;
	background-size: cover;
	height:250px;
	
	@include breakpoint(medium) {
		//border-top:0;
		background: #fff url('../images/home-hero-circle.jpg') no-repeat 30% bottom;
		height:489px;
		}



	h1 {
		color:#fff;
		line-height:1.1;
		width:60%;
		@include breakpoint(small) {
			width:45%;
		}
	}	

	p {
		display: none;
		@include breakpoint(medium) {
			display:block;
			width:35%;
			color:#fff;
			&.h2{
				color:$yellow;
			}
		}
	}

}