// HELPERS

//MIXINS

//typeography
@mixin fontsizing($font-size, $line-height, $margin-bottom :1.5rem){
	font-size: $font-size;
	line-height: $line-height;
	margin-bottom: $margin-bottom;
}


//vertical lists with images - set to show image on mobile - set to none to hide image e.g. (100px, 100px, none)
@mixin imagelists($imgwidth, $imgheight, $imagedisplay :inline-block){
	@extend %nudelist;
	li {overflow:hidden;
		margin-bottom:1rem;
		img {
			display:$imagedisplay;// set to inline
			width: $imgwidth;
			height:$imgheight;
			margin-right:1.25rem; //20px
			float:left;
			@include breakpoint(medium) {
				display:inline-block;				
			}
		}		
		h4{
			margin-bottom:0;
		}
		span{
			display:block;
			overflow:hidden;			
		}
		p {
			margin-bottom:0;
		}
	}
}



//PLACEHOLDERS

// clearfix
%clearfix { 
	&:after{
		content:"";
		display:table;
		clear:both;} 
	}

//hide text offscreen
%offscreen {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

//whitespace no wrap
.nowrap, %nowrap { 
	white-space:nowrap;
}


//centre a block item
 %center, .center {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

//responsive image
 %responsiveimg {
	@extend %center;
	max-width:100%;
}

.fleximg img { // add this class to html to make all the images within the section responsive
	@extend %responsiveimg;
}

//display none 
%hide, .hide { 
	display:none;
}

//list with no left padding or bullets
%nudelist {
 	list-style: none;
	padding:0;
	margin:0;
}

//center text
%txtc, .txtc {
	text-align: center;
}

//clear row
.clear{clear:both;}

// show and hide classes for mobile or desktop
.deskonly{display:none;}
@include breakpoint(medium) {
	.mobonly{ display:none;}
	.deskonly{display:block;}
}

