// HELPERS

//MIXINS

//typeography
@mixin fontsizing($font-size, $line-height, $margin-bottom :1.5rem){
	font-size: $font-size;
	line-height: $line-height;
	margin-bottom: $margin-bottom;
}



//PLACEHOLDERS

// clearfix
%clearfix { 
	&:after{
		content:"";
		display:table;
		clear:both;} 
	}

//hide text offscreen
%offscreen {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

//whitespace no wrap
.nowrap, %nowrap { 
	white-space:nowrap;
}


//centre a block item
 %center {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

//display none 
%hide { 
	display:none;
}




// show and hide classes for mobile or desktop
.deskonly{display:none;}
@include breakpoint(medium) {
	.mobonly{ display:none;}
	.deskonly{display:block;}
}

